<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree View</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {
            font-family: Menlo, Consolas, monospace;
            color: #444;
        }
        .item {
            cursor: pointer;
        }
        .bold {
            font-weight: bold;
        }
        ul {
            padding-left: 1em;
            line-height: 1.5em;
            list-style-type: dot;
        }
    </style>
</head>
<body>

<h3>Tree View</h3>
<hr />

<ul id="lab">
    <tree-item v-bind:item="itemData"></tree-item>
</ul>

<script type="text/x-template" id="item-template">
    <li>
        <div :class="{bold: isFolder}"
             @click="toggle">
            {{item.text}}
            <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
        </div>
        <ul v-show="isOpen" v-if="isFolder">
            <tree-item v-bind:item="itemData"
                       v-for="itemData in item.children">
            </tree-item>
        </ul>
    </li>
</script>

<script>
    Vue.component('tree-item', {
        template: '#item-template',
        props: ['item'],
        data: function (){
            return {
                isOpen: false
            }
        },
        computed: {
            isFolder: function () {
                return this.item.children &&
                    this.item.children.length
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen
                }
            }
        }
    });

    let labApp = new Vue({
        el: '#lab',
        data: {
            itemData: {
                text: "root",
                children: [
                    {
                        text: "A",
                        children: [
                        ]
                    },
                    {
                        text: "B",
                        children: [
                            { text: "B-1", children: [] },
                            { text: "B-2", children: [] },
                            { text: "B-3", children: [] }
                        ]
                    },
                    {
                        text: "C",
                        children: [
                        ]
                    }
                ]
            }
        }
    })
</script>
</body>
</html>